Repository FirebirdSQL/firebird, pull requests merged in 2024-12, with the labels that each got.

#8327 Fix use :@ characters and add sub-section to configure username and password for sync_replica
  src/jrd/replication/Config.cpp
  src/jrd/replication/Config.h
  src/jrd/replication/Manager.cpp
Labels: type: bug, component: replication

#8341 Cleanup batches inside the engine if they were not released explicity before disconnection
  src/dsql/DsqlBatch.cpp
  src/jrd/Attachment.cpp
  src/jrd/Attachment.h
  src/jrd/jrd.cpp
Labels: component: engine, type: bug, affect-version: 4.0.0, affect-version: 4.0.1, affect-version: 4.0.2, affect-version: 4.0.3, affect-version: 6.0 Initial, fix-version: 6.0 Alpha 1, affect-version: 4.0.4, affect-version: 5.0.0, affect-version: 5.0.1, affect-version: 4.0.5

#8354 Better handle null pointer checks in GPRE generated code
  src/gpre/obj_cxx.cpp
Labels: component: gpre, fix-version: 6.0 Alpha 1

#8047 Wipe out multi-file database support
  src/burp/restore.epp
  src/dsql/DdlNodes.epp
  src/dsql/DdlNodes.h
  src/dsql/parse.y
  src/jrd/cch.cpp
  src/jrd/dfw.epp
  src/jrd/jrd.cpp
  src/jrd/met.epp
  src/jrd/ods.h
  src/jrd/os/pio.h
  src/jrd/os/pio_proto.h
  src/jrd/os/posix/unix.cpp
  src/jrd/os/win32/winnt.cpp
  src/jrd/pag.cpp
  src/jrd/pag_proto.h
  src/jrd/sdw.cpp
  src/jrd/sdw_proto.h
  src/jrd/tra.h
  src/jrd/vio.cpp
  src/utilities/gstat/dba.epp
  src/utilities/gstat/ppg.cpp
  src/utilities/rebuild/rebuild.cpp
Labels: component: engine, type: cleanup
